# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Produced vignettes and related files 
vignettes/*.html
vignettes/*.pdf
vignettes/pb_log_file

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# docs in `inst`
inst/doc

# The docs and pkgdown dirs
docs
pkgdown

# RDS files in certain directories
tests/manual_tests/*.rds
tests/manual_tests/saved_agents/*.rds

# Movies
*.mp4
